@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Prompt|Courgette&display=swap');

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 2vmin);
  font-family: 'Prompt';
  color: yellow;
}

body{
  background-image: url("bg.jpg");
  background-size: 100% 100%;
  background-color: #cccccc;
}

a{
  color: white
}

.contact-link{
  color: yellow;
}

.credit{
  font-size: 13px;
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  padding-bottom: 20px;
  padding-left: 30px;
}

.menu{
  position: absolute;
  top: 0; 
  right: 0;
}

ul{
  padding-right: 10px;
}

ul li{
  display: inline;
  padding-right: 50px;
  color: white;
  font-family: "Prompt";
  font-size: 15px;
}

ul li > a:not(.activeLink):hover {
  color: yellow;
}

.active{
  color: white
}

.inactive{
  color: white
}

